<div class="m-2">
    <div class="alert backdrop-blur-sm backdrop-brightness-125 bg-transparent shadow-lg shadow-lg">
        <div>
            <span class="card-title text-primary-content">Categories</span>
        </div>
    </div>
</div>
<div class="gameCategories py-4">
    <%- data['gameCategoriesHtml'] %>
</div>