<div class="m-2">
    <div class="alert backdrop-blur-sm backdrop-brightness-125 bg-transparent shadow-lg shadow-lg">
        <div>
            <span class="card-title text-primary-content">Tags</span>
        </div>
    </div>
</div>
<div class="gameTags py-4">
    <%- data['gameTagsHtml'] %>
</div>