</div>
</div>
<!-- footer -->

<footer class="items-center p-4 footer bg-neutral text-neutral-content" style="padding-bottom:150px;">
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a href="https://usiweb.com/ipage/contact" rel="noopener nofollow">Contact</a>
        <a href="https://goo.gl/forms/fDB30ayhzGQUAVIn2" rel="noreferrer nofollow" target="_blank">Copyright</a>
        <a href="https://usiweb.com/privacypolicy" rel="noopener nofollow" target="_blank">Data Usage Policy</a>
    </div>
  </footer>
  <!-- end footer -->
<script src="<%- process.env.PROJECT_Main %>/assets/jquery.min.js"></script>
<script src="<%- process.env.PROJECT_Main %>/assets/lazyload.min.js"></script>
<script src="<%- process.env.PROJECT_Main %>/assets/custom.js"></script>
<%- process.env.FooterScript || '' %>
</body>
</html>